/* Center the body */
.container {
    display: grid;
    place-items: center;
}

/* GAME BOARD STYLING */
/* Center the Game Board */
.board {
    display: flex;
    padding: 18px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    background-color: burlywood;
}

/* Center the content of the Board cards */
/* .game-card {
    min-width: 10%;
    max-width: 25%;
} */

/* Open div */
.board div {
    font-size: 54px;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    /* color: transparent; */
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.board .open {
    background-color: aqua;
    cursor: default;
    color: white;
}

.board .close {
    background-color: black;
    cursor: pointer;
    color: transparent;
}

/* .board .hidden {
    opacity: 0;
}

.board .shown {
    opacity: 1;
} */


/* hide a card */

/* show a card content */

/* Card hide/show transitioning */

/* TRACK 3 STATES of CARDs */
    /* match
    unmatch
    open
    close */